<!DOCTYPE html>
<html lang="en">

<head>
    {{>headConfig}}
</head>

<body>
    <div class="mainContent">
        {{>header}}
        <main>
            <p>{{content}}</p>
            <img src="/img/cat.jpg" alt="">
        </main>
    </div>
    {{>footer}}
</body>


</html>